/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xn9542');
  src:  url('fonts/icomoon.eot?xn9542#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xn9542') format('truetype'),
    url('fonts/icomoon.woff?xn9542') format('woff'),
    url('fonts/icomoon.svg?xn9542#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-console .path1:before {
  content: "\e900";
  color: rgb(206, 193, 188);
}
.icon-console .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(155, 133, 121);
}
.icon-console .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(239, 66, 55);
}
.icon-console .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-console .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(206, 193, 188);
}
.icon-console .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(181, 162, 153);
}
.icon-console .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(181, 162, 153);
}
.icon-console .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(155, 133, 121);
}
.icon-console .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(219, 222, 236);
}
.icon-console .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(180, 170, 181);
}
.icon-console .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(158, 144, 151);
}
.icon-console .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(180, 170, 181);
}
.icon-console .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(136, 120, 125);
}
.icon-console .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(206, 64, 69);
}
.icon-console .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(219, 222, 236);
}
.icon-console .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(206, 193, 188);
}
.icon-console .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(181, 162, 153);
}
.icon-console .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(181, 162, 153);
}
.icon-console .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(155, 133, 121);
}
.icon-console .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(219, 222, 236);
}
.icon-console .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(180, 170, 181);
}
.icon-console .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(158, 144, 151);
}
.icon-ipad .path1:before {
  content: "\e916";
  color: rgb(151, 206, 200);
}
.icon-ipad .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(96, 97, 97);
}
.icon-ipad .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(192, 229, 226);
}
.icon-ipad .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(151, 206, 200);
}
.icon-pc .path1:before {
  content: "\e91a";
  color: rgb(151, 206, 200);
}
.icon-pc .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(96, 97, 97);
}
.icon-pc .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(205, 215, 214);
}
.icon-pc .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(79, 79, 79);
}
.icon-pc .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(79, 79, 79);
}
.icon-pc .path6:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(96, 97, 97);
}
.icon-pc .path7:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(79, 79, 79);
}
.icon-pc .path8:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(192, 229, 226);
}
.icon-phone .path1:before {
  content: "\e922";
  color: rgb(206, 193, 188);
}
.icon-phone .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(114, 102, 88);
}
.icon-phone .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(128, 118, 105);
}
.icon-phone .path6:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(180, 170, 181);
}
.icon-phone .path7:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(103, 94, 97);
}
.icon-phone .path8:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(219, 222, 236);
}
.icon-phone .path9:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(219, 222, 236);
}
.icon-phone .path10:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(115, 109, 112);
}



.icon{
    color: #546087!important;
    font-weight: bolder !important;
    padding: 15px!important;
    font-size: 2em;

}
.icon-bar{
        color: #546087!important;
    font-weight: bolder !important;
    /* padding: 15px!important; */
    font-size: 2em;
}
.title{
    color: #5F6BBB;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    
}
.top{
    height: 40%!important;
    /*border-bottom: solid;
    border-bottom-width: .5px;
    border-bottom-color: #F5E593;*/
    display: flex;
    align-items: center;
}
.middle{
    /*padding-top: 5px;
    padding-top: 8px;*/
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: .5px;
    border-bottom-color: #F5E593;
}
.bottom{
    padding-top: 8px;
}
.bottom-right{
    border-left: solid;
    border-left-width: .5px;
    border-left-color: #F5E593;
}
.platform-icons{
    font-size: 2.5em!important;
}
.score{
    color: #000000!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
.genre{
    color: #000000!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
.platform{
    color: #80738F!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
body {
    background-color: #DBC5EC!important;
    color:black !important;
    
}
h2 {
    text-align: center;
    margin: 30px 0;
}
.demo-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
}
h4.title {
  text-align: center;
}
.card
{
        background-color: #ffffff!important;
        padding: 20px;
        height: 175px;
        border-radius: 10px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        color: #546087 !important;
}
.test a:hover{
    text-decoration: none;
}
 .form-horizontal .ng2-auto-complete ul {
       height:300px !important;
      }
.dropdown-btn{
    background: white!important;
    height: 47px!important;
    margin-top: -1px;
}
.item{
    padding: 5px;
    padding-left: 8px!important;
    border: solid;
    border-width: 0.4px;
    font-size: 1.3em;
    border-color: lightgrey;
    cursor:pointer;
}



/*searchbar*/
#searchbar-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-top: 20px;
}

.searchbar-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.searchbar-navbar-searchbutton {
    background-color: #80738F;
    border: 1px solid #80738F;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}
.searchbar-navbar-removebutton {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    color:white!important;
    background-color: #80738F;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

/*.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

/*.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}*/

/*.dropdown:hover .dropdown-menu {
    display: block;
}*/

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.logout{
    float: right;
    margin-top: -50px;
    padding-right: 20px;
    cursor: pointer;
}