<div class="logout" (click)="logout()">Logout <span class="glyphicon glyphicon-off"></span></div>
<div class="container" style="overflow:hidden;">
<!--search bar and filter-->
<div class="row row2">
            <div class="searchbar-navbar-search smallsearch col-sm-10 col-xs-10">
                <div class="row">
                    <input class="searchbar-navbar-input col-xs-10" type="text" [typeahead]="games" typeaheadOptionField="title" placeholder="Search" type="text" [(ngModel)]="query" (change)="search()" (keyup.enter)="search()">
                    <button class="searchbar-navbar-removebutton col-xs-1" (click)="reset()">
                       <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="searchbar-navbar-searchbutton col-xs-1" (click)="search()">
                        <span class="glyphicon glyphicon-search" style="color:white!important"></span>
                    </button>
                </div>
            </div>
            <div  class="col-sm-2 col-xs-2" style="padding-left: 60px;">
              <div dropdown>
                <button id="double-button" class="cart-button" dropdownToggle>
                    Sort
                </button>
                 <ul dropdownMenu role="menu" aria-labelledby="double-button">
                  <li role="menuitem"> <div class="item" (click)="sort('score','asc')">Score Asc</div></li>
                  <li role="menuitem"> <div class="item"  (click)="sort('score','desc')">Score Desc</div></li>
                  <li role="menuitem"> <div class="item"  (click)="sort('platform','asc')">Platform Asc</div></li>
                  <li role="menuitem"> <div class="item"  (click)="sort('platform','desc')">Platform Desc</div></li>
                </ul>
              </div>
            </div>
        </div>



 <div style="padding-top: 40px !important;" *ngIf="games.length>0">
      <div class="col-sm-4 test" *ngFor="let game of games | paginate: { itemsPerPage: 6, currentPage: p };let i = index">
         <div style="padding:20px">
           <div class="card">
              <div class="row top" >
               <div class="col-sm-10 text-center"><span class="title">{{game.title}}</span></div><div class="col-sm-2 text-center"><span *ngIf="game.editors_choice == 'Y'" class="glyphicon glyphicon-star" style="color: orange;"></span></div>
              </div>
               <div class="row middle">
                <div class="col-sm-6 text-center platform-icons"> 
                  <span class="icon-ipad" *ngIf="game.platform == 'IPad'">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </span>
                <span class="icon-console" *ngIf="game.platform == 'PlayStation 3' || game.platform == 'PlayStation Vita' || game.platform == 'Xbox 360' || game.platform == 'Nintendo DS' ">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span>
                </span>
                <span class="icon-pc" *ngIf="game.platform == 'Macintosh' || game.platform == 'PC'">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                </span>
                <span class="icon-phone" *ngIf="game.platform == 'Android' || game.platform == 'IPhone'">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                </span>
                
                </div>
                <div class="col-sm-6 text-center"> <span class="platform">{{game.platform}}</span></div>
              </div>
               <div class="row bottom">
                <div class="col-sm-6 text-center">Genre: <span class="genre">{{game.genre}}</span></div> <div class="col-sm-6 text-center bottom-right"><span class="score">{{game.score}}</span></div>
              </div>
           </div>
         </div>
      </div>
   </div>
   <!--pagination-->
   <div class="row">
      <div class=" col-sm-4 col-sm-offset-4" style="padding: 0 !important;">
         <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
   </div>
</div>